
/* 导航 */
.c-outer {
    height: 66px;
}
.c-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    z-index: 2;
    box-shadow: 0 3px #eee;
}
.c-fixed .cloud-menu-box {
    border: none;
    margin-bottom: 0;
}
.c-fixed .cloud-menu-box {
    margin: 0;
}
.c-h-content {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}
.cloud-btn {
    position: absolute;
    right: 0;
    top: 7px;
    display: none;
    min-width: 78px;
    height: 33px;
    padding: 0 30px 1px;
    background: #00a2ca;
    line-height: 33px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    outline: none;
    border-radius: 0;
}
.cloud-menu-box {
    position: relative;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #ddd;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    margin: 0;
    margin-top: 16px;
}
.c-m-b-li {
    display: inline;
    height: 50px;
    margin: 0 20px;
    padding: 10px 20px;
    line-height: 50px;
    font-size: 14px;
    color: #333;
}
.c-m-b-active {
    background: #1dc3ed;
    color: #fff;
}
.cloud-product-menu {
    text-align: left;
    width: 120px;
    position: absolute;
    top: 0;
    height: 50px;
    z-index: 999;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    display: none;
}
.p-menu-title {
    font-size: 14px;
    color: #333;
    padding-left: 20px;
    cursor:pointer;
}
.p-menu-title span {
    height: 16px;
    line-height: 50px;
}
.all-menu {
    background: url(../images/newPage/all.png) no-repeat;
    display: inline-block;
    position: relative;
    top: 3px;
    left: -7px;
    width: 16px;
    height: 16px;
}
.cloud-product-menu:hover .all-menu {
    background: url(../images/newPage/all-gray.png) no-repeat;
}

/* cloud导航-下拉-全部 */
.cloud-nav-menu {
    width: 990px;
    height: 340px;
    color: #333;
    font-size: 14px;
    position: absolute;
    top: 45px;
    left: -4px;
    display: none;
    z-index: 2;
    border-radius: 4px;
    -moz-box-shadow: rgba(0,0,0,0.1) 0 2px 8px;
    -webkit-box-shadow: rgba(0,0,0,0.1) 0 2px 8px;
    box-shadow: rgba(0,0,0,0.1) 0 2px 8px;
}
.cloud-menu {
    position: relative;
    width: 990px;
    height: 300px;   
}
.cloud-menu-one {
    width: 163px;
    float: left;
    padding: 20px 0 20px 20px;
    background: #fafafa;
}
.cloud-menu-one ul {
    width: 140px;
    height: 300px;
    padding: 0 5px 0 0;
    border-right: 1px solid #e5e5e5;
}
.cloud-menu-one li {
    position: relative;
    list-style: none;
    padding: 10px;
}
.cloud-menu-one-active {
    background: #f0f0f0;
    color: #1dc3ed;
}
.cloud-all-menu {
    display: inline;
    padding: 10px;
}
.cloud-menu-tow {
    width: 807px;
    float: left;
    background: #fff;
}
.cloud-menu-three {
    width: 148px;
    height: 300px;
    float: left;
    padding-left: 10px;
    padding: 20px 10px 20px 0;
    background: #fafafa;
    border-right: 1px solid #e5e5e5;
}
.cloud-menu-three li {
    position: relative;
    list-style: none;
    padding: 10px;
}
.cloud-menu-three-active {
    background: #f0f0f0;
    color: #1dc3ed;
}
.cloud-menu-four {
    width: 70%;
    float: left;
    margin: 20px;
}
.cloud-m-f-item {
    width: 410px;
    height: 60px;
    margin: 5px;
}
.cloud-m-f-item:hover .cloud-m-f-item1 {
    color: #1dc3ed;
}
.cloud-m-f-item1 {
    margin: 5px 15px;
    color: #333;
    font-size: 14px;
}
.cloud-m-f-item2 {
    margin: 0 15px;
    color: #b2b2b2;
    font-size: 12px;
}
.cloud-upIcon {
    position: absolute;
    width: 19px;
    height: 8px;
    background: url(../images/newPage/all-up.png) no-repeat;
    top: -9px;
    left: 60px;
}

/* 产品介绍 */
.cloud-body {
    width: 1200px;
    height: auto;
    margin: 0 auto;
}

/* 产品介绍 */
.product-introduction {
    margin-top: 40px;
}


.p-table {
    width: 100%;
    max-width: 100%;
    margin-top: 20px;
    font-size: 14px;
    border-collapse:collapse; 
    border-spacing:0;
}
.p-thead {
    font-size: 16px;
}
.p-space {
    height: 10px;
}
.p-tb tr {
    margin-top: 10px;
    background: #f5f5f5;
}
.p-tb-head {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #666;
    height: 60px;
    line-height: 60px;
    position: relative;
}
.p-tb-head-icon {
    position: relative;
    top: 4px;
    left: -10px;
    display: inline-block;
    width: 17px;
    height: 20px;
}
.p-tb-head-content {
    display: inline-block;
    width:85px;
    text-align: left;
}

/* 功能介绍 */
.function-introduction {
    margin-top: 40px;
}

/* 应用场景 */
.apply-scene {
    width: 100%;
    height: auto;
    margin: 0;
    margin-top: 40px;
}

/* 常规问题 */

.faq {
    margin: 40px 0;
    font-family: 'PingFang SC';
}

/* ------------------ */
.apply-content {
            box-sizing: border-box;
            border: 1px solid #f0f0f0;
            border-left: 2px solid #1dc3ed;
            height: 200px;
            margin-top: 20px;
        }
        .apply-item {
            margin: 0;
            padding: 0;
            float: left;
            height: 100px;
            position: relative;
        }
        .a-i-1 {
            width: 260px;
            border-bottom: 1px solid #f0f0f0;
            border-right: 1px solid #f0f0f0; 
            box-sizing: border-box;
        }
        .a-i-2 {
            width: 937px;
            border-bottom: 1px solid #f0f0f0; 
            box-sizing: border-box;
        }
        .a-i-3 {
            width: 260px;
            border-right: 1px solid #f0f0f0; 
            box-sizing: border-box;
        }
        .a-i-4 {
            width: 937px;
        }   
        .apply-item-middle {
            width:260px;  
            height:100px;  
            overflow:hidden;  
            position:relative;  
            display:table-cell;  
            text-align:center;  
            vertical-align:middle;  
        }
        .apply-item-middle p {
            width: 160px;
            margin: 0 auto;
            font-weight: bold;
            font-size: 16px;
            color: #333;
        }
        .apply-conf {
            margin: 20px 0 0 20px;
            font-size: 12px;
        }
        .apply-conf span {
            background: #00a4c8;
            color: #fff;
            margin-right: 10px;
            padding: 2px 10px;
        }