<aside id="fh5co-hero" class="js-fullheight">
        <div class="flexslider js-fullheight">
            <ul class="slides">
                <li style="background-image: url(/static/images/slide_1.jpg);">
                    <div class="overlay-gradient"></div>
                </li>
                <li style="background-image: url(/static/images/slide_3.jpg);">
                </li>
                <li style="background-image: url(/static/images/slide_2.jpg);">
                </li>
            </ul>
        </div>
    </aside>