 <footer id="fh5co-footer" role="contentinfo">

        <div class="container">
            <div class="col-md-3 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
                <h3>关于我们</h3>
                <p>国美云团队无所不能，天下无敌 </p>

            </div>
            <div class="col-md-4 col-md-push-1 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
                <h3>新手入门</h3>
                <ul class="float">
                    <li><a href="#">了解国美云</a></li>
                    <li><a href="#">如何成为开发者</a></li>
                    <li><a href="#">如何入住国美云，查看流程</a></li>
                </ul>

            </div>

            <div class="col-md-4 col-md-push-1 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
                <h3>联系我们</h3>
                <ul class="fh5co-social">
                    <li>业务咨询：fincloud@cloud.alipay.com</li>
                    <li>技术咨询：techsupport@cloud.alipay.com</li>

                </ul>
            </div>


            <div class="col-md-12 fh5co-copyright text-center">
                <p>国美云科技术有限公司版权所有&copy; 2016.Company name All rights reserved.
                </p>
            </div>

        </div>
    </footer>