<header id="fh5co-header" role="banner">
    <div class="navbar" role="navigation">
        <div class="navbar-header">
            <button class="navbar-toggle " type="button" data-toggle="collapse"
                    data-target=".navbar-responsive-collapse">
                <span class="icon-bar" style="background-color: #eee;"></span>
                <span class="icon-bar" style="background-color: #eee;"></span>
                <span class="icon-bar" style="background-color: #eee;"></span>
            </button>
            <a href="/" class="navbar-brand" style="font-size: 30px;color: #eee;margin: 9px 0 0 0;">国美云</a>
        </div>
        <div class="collapse navbar-collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav" style="font-size: 16px;margin-top: 9px;margin-left: 35px">
                <li><a href="/web/index" id="web_index">首页</a></li>
                <li class="dropdown " style="padding: 0">
                    <a href="javascript:void(0)" class="dropdown-toggle" role="button" aria-haspopup="true"
                       aria-expanded="false" id="web_product">产品</a>
                    <ul class="dropdown-content">
                        <li style="margin: 0"><a href="/web/product/server">云服务器</a></li>
                        <li style="margin: 0"><a href="/web/product/lb">负载均衡</a></li>
                    </ul>
                </li>
                <li><a href="/web/price" id="web_price">价格</a></li>
{#                <li><a href="/web/solution">解决方案</a></li>#}
                <li><a href="http://portal-doc.pt.gomedc.com/gomecloud/cloudsummary.html">帮助与文档</a></li>
            </ul>
            <ul class="nav navbar-nav" style="font-size: 14px;margin:10px 0 0 120px;">
                <li style="margin: 0;"><a href="http://sso.cloud.pt.gomedc.com/view/login.html">控制台</a></li>
                <li style="margin: 0;"><a href="http://sso.cloud.pt.gomedc.com/view/login.html">登录</a></li>
                <li style="margin: 0;"><a href="http://sso.cloud.pt.gomedc.com/view/register.html">注册</a></li>
            </ul>
        </div>
    </div>

</header>