<header id="fh5co-header" role="banner">
    <div class="container" style="margin: 0;padding: 0;">
            <div class="row" style="height: 65px">
                <div class="col-md-2 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0 ">
                    <h1 style="margin: 38px 0 0 20px;"><a href="/">国美云</a></h1>
                </div>
                <div class="col-md-7 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0 margin-contnet-left ">
                    <div class="col-md-3  navigation-items">
                        <a href="/" class="full-link">首页</a>
                    </div>
                    <div class="col-md-3  navigation-items">
                        <div class="dropdown">
                            <a  href="javascript:void(0)" class="full-link dropdown">产品</a>
                            <div class="dropdown-content">
                                <a href="/web/product/server">云服务器</a>
                                <a href="/web/product/lb">负载均衡</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3  navigation-items">
                        <a href="/web/solution" class="full-link ">解决方案</a>
                    </div>
                    <div class="col-md-3  navigation-items">
                        <a href="http://portal-doc.pt.gomedc.com/gomecloud/cloudsummary.html" class="full-link ">帮助与文档</a>
                    </div>
                </div>
                <div class="col-md-3" style="margin-left: 35px">
                    <div class="row ">
                        <div class="col-md-6 navigation-font">
                            <div class="">
                                <a href="http://sso.cloud.pt.gomedc.com/view/login.html" style="color: white;">控制台</a>
                            </div>
                        </div>
                        <div class="col-md-6 navigation-font" style="text-align: center">
                            <a href="http://sso.cloud.pt.gomedc.com/view/login.html" style="color: white;">登录</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</header>