<div class="m-footer">
  <h5 class="m-title m-aboutus-title">关于我们</h5>
  <div class="m-aboutus-content">
    <p class="connect-us">联系我们：yanzhenkai-kg@gome.com.cn</p>
    <p class="follow-us"><span>关注我们：</span>
      <a class="footer-share-item" href=""><span class="share-icon weibo-icon"></span>新浪微博</a>
      <a class="footer-share-item" href=""><span class="share-icon weixin-icon"></span>微信</a>
    </p>
    <hr style="margin: 1rem 0; height:1px;border:none;border-top:1px solid #444;" />
    <p class="m-aboutus-footer-bottom">Copyright@2016-2017 gomecloud.com 国美云版权所有</p>
  </div>
</div>