<header data-am-widget="header" class="am-header">
  <div class="am-header-left am-header-nav ">
    <a href="#left-link" class="gm-logo"></a>
  </div>
  <!-- nav 右侧滑出 -->
  <nav data-am-widget="menu" class="am-menu  am-menu-offcanvas1" data-am-menu-offcanvas>
    <a href="javascript: void(0)" class="am-menu-toggle">
        <i class="am-menu-toggle-icon am-icon-bars"></i>
    </a>
    <div class="am-offcanvas">
      <div class="am-offcanvas-bar am-offcanvas-bar-flip">
        <h3 class="m-menu-nav-top">首页</h3>
        <section data-am-widget="accordion" class="am-accordion" data-am-accordion='{  }'>
          <dl class="am-accordion-item">
            <dt class="am-accordion-title m-menu-nav-title m-menu-nav-first-title">
              <span class="m-menu-nav-title-pic"></span>
              <span style="margin-left: 1rem;">弹性计算</span>
            </dt>
            <dd class="am-accordion-bd am-collapse">
              <!-- 规避 Collapase 处理有 padding 的折叠内容计算计算有误问题， 加一个容器  am-accordion-content-->
              <div class="">
                <a class="m-menu-nav-item" href="">国美云服务器（ECM</a>
                <a class="m-menu-nav-item" href="">国美云硬盘（EBS</a>
              </div>
            </dd>
          </dl>

          <dl class="am-accordion-item">
            <dt class="am-accordion-title m-menu-nav-title">
              <span class="m-menu-nav-title-pic"></span>
              <span style="margin-left: 1rem;">内容分发</span>
            </dt>
            <dd class="am-accordion-bd am-collapse">
              <!-- 规避 Collapase 处理有 padding 的折叠内容计算计算有误问题， 加一个容器  am-accordion-content-->
              <div class="">
                <a class="m-menu-nav-item" href="">国美云负载均衡（ELB</a>
                <a class="m-menu-nav-item" href="">内容分发网络（CDN）</a>
                <a class="m-menu-nav-item" href="">国美云域名解析系统（DNS</a>
              </div>
            </dd>
          </dl>

          <dl class="am-accordion-item">
            <dt class="am-accordion-title m-menu-nav-title">
              <span class="m-menu-nav-title-pic"></span>
              <span style="margin-left: 1rem;">网络</span>
            </dt>
            <dd class="am-accordion-bd am-collapse">
              <!-- 规避 Collapase 处理有 padding 的折叠内容计算计算有误问题， 加一个容器  am-accordion-content-->
              <div class="">
                <a class="m-menu-nav-item" href="">虚拟专有网络（VPC</a>
              </div>
            </dd>
          </dl>
        </section>
      </div>
    </div>
  </nav>
</header>