<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->

<html> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>国美云-解决一起不可能</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'defalut/css.html' %}
    {% include 'defalut/jquery.html' %}
</head>
<body>
<div id="fh5co-page">
    {% include 'defalut/header.html' %}
    {% block web_content %}
    {% endblock %}
    {% include 'defalut/footer.html' %}
</div>

</body>
</html>