{% extends '_layout.html' %}

{% block web_content %}
    {% include 'defalut/flexslider.html' %}
    <div id="fh5co-why-us" class="animate-box">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
                    <h2>为什么选择我们？</h2>
                </div>
                <div class="col-md-4 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0 text-center item-block">
                    <span class="icon"><img src="/static/images/30.png" alt="Free HTML5 Templates"
                                            class="img-responsive"></span>
                    <h3>技术</h3>
                    <p>金融级安全、可靠、一致；快速交付、零停机维护；高并发、移动化、海量数据处理能力.</p>
                </div>
                <div class="col-md-4 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0 text-center item-block">
                    <span class="icon"><img src="/static/images/18.png" alt="Free HTML5 Templates"
                                            class="img-responsive"></span>
                    <h3>融合</h3>
                    <p>快速与蚂蚁金服的各项开放业务进行融合，共同探索全新业态.</p>
                </div>
                <div class="col-md-4 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0 text-center item-block">
                    <span class="icon"><img src="/static/images/27.png" alt="Free HTML5 Templates"
                                            class="img-responsive"></span>
                    <h3>开放</h3>
                    <p>蚂蚁金融云平台开放技术接入标准，为合作伙伴提供自由创新的空间.</p>
                </div>
            </div>
        </div>
    </div>
    <div id="fh5co-testimonial" class="animate-box">
        <div class="container">
            <div class="row">
                <div class="section-main">
                    <div class="home-section-title">
                        <div class="home-section-title-content">我们为您提供什么？</div>
                    </div>
                    <div class="home-services">
                        <div class="col-md-4 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
                            <div class="home-services-service">
                                <div class="home-services-service-title">开发</div>
                                <div class="home-services-service-description">金融级联机交易处理中间件， 支持大规模分布式计算，具备数万笔/秒并发能。
                                </div>
                                <div class="home-services-service-products-group">
                                    <div class="home-services-service-products-group-father">中间件</div>
                                    <div class="col-md-6 full-link"><a><i class="glyphicon glyphicon-random"
                                                                          aria-hidden="true"></i><span>分布式消息</span></a>
                                    </div>
                                    <div class="col-md-6 full-link"><a><i class="glyphicon glyphicon-move"
                                                                          aria-hidden="true"></i><span>分布式数据源服务</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
                            <div class="home-services-service">
                                <div class="home-services-service-title">运维</div>
                                <div class="home-services-service-description">云资源集中编排、弹性伸缩、持续发布和部署，高可用及容灾, 多租户权限管控。
                                </div>
                                <div class="home-services-service-products-group">
                                    <div class="home-services-service-products-group-father">开发运维</div>
                                    <div class="col-md-6 full-link"><a><i class="glyphicon glyphicon-random"
                                                                          aria-hidden="true"></i><span>发布部署服务</span></a>
                                    </div>
                                    <div class="col-md-6 full-link"><a><i class="glyphicon glyphicon-move"
                                                                          aria-hidden="true"></i><span>环境资源管理</span></a>
                                    </div>
                                </div>
                                <div class="home-services-service-products-group">
                                    <div class="home-services-service-products-group-father">监控</div>
                                    <div class="col-md-6 full-link"><a><i class="glyphicon glyphicon-random"
                                                                          aria-hidden="true"></i><span>实时监控服务</span></a>
                                    </div>
                                    <div class="col-md-6 full-link"><a><i class="glyphicon glyphicon-move"
                                                                          aria-hidden="true"></i><span>应用资源监控</span></a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
                            <div class="home-services-service">
                                <div class="home-services-service-title">运营</div>
                                <div class="home-services-service-description">一体化大数据解决方案，全面集成数据开发、管理、分析、挖掘、共享工具。
                                </div>
                                <div class="home-services-service-products-group">
                                    <div class="home-services-service-products-group-father">大数据</div>
                                    <div class="col-md-6 full-link"><a><i class="glyphicon glyphicon-random"
                                                                          aria-hidden="true"></i><span>实时监控服务</span></a>
                                    </div>
                                    <div class="col-md-6 full-link"><a><i class="glyphicon glyphicon-move"
                                                                          aria-hidden="true"></i><span>应用资源监控</span></a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div id="fh5co-grid-products" class="animate-box">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
                    <div class="home-indexs-index">
                        <div class="home-indexs-index-icon"><img
                                src="https://zos.alipayobjects.com/rmsportal/IMUjRlcCqjcGZPj.png" alt=""></div>
                        <div class="home-indexs-index-content">
                            <div class="home-indexs-index-content-primary"><span class="big">7x24</span></div>
                            <div class="home-indexs-index-content-second">无间断</div>
                            <div class="home-indexs-index-content-description">无间断的运维管理，容灾能力</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
                    <div class="home-indexs-index">
                        <div class="home-indexs-index-icon"><img
                                src="https://zos.alipayobjects.com/rmsportal/avcDFoWRPEMNDXZ.png" alt=""></div>
                        <div class="home-indexs-index-content">
                            <div class="home-indexs-index-content-primary"><span class="big">8.59万</span><span
                                    class="small">/S</span></div>
                            <div class="home-indexs-index-content-second">交易量</div>
                            <div class="home-indexs-index-content-description">分布式中间件，架构能力，支持历年双11高并发交易量</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
                    <div class="home-indexs-index">
                        <div class="home-indexs-index-icon"><img
                                src="https://zos.alipayobjects.com/rmsportal/asFSRnNwsKXPIle.png" alt=""></div>
                        <div class="home-indexs-index-content">
                            <div class="home-indexs-index-content-primary"><span class="big">3亿+</span></div>
                            <div class="home-indexs-index-content-second">用户数</div>
                            <div class="home-indexs-index-content-description">强大的支付宝移动开发框架、产品，为海量用户提供优质体验</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
                    <div class="home-indexs-index">
                        <div class="home-indexs-index-icon"><img
                                src="https://zos.alipayobjects.com/rmsportal/tzxBDMSwWuDieUX.png" alt=""></div>
                        <div class="home-indexs-index-content">
                            <div class="home-indexs-index-content-primary"><span class="big">3000亿+</span></div>
                            <div class="home-indexs-index-content-second">频次</div>
                            <div class="home-indexs-index-content-description">为2015年除夕支付宝五福咻一咻活动提供强大的监控能力</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

{% endblock %}