{% extends '_layout.html' %}

{% block web_content %}
    <style>
        #fh5co-header{
            background-color: #242c37
        }

    </style>
    <div id="fh5co-grid-products" style="background-color: white">
        <div class="contain-cnt">
            <h4>行业解决方案</h4>
            <div class="col-md-4" style="margin-bottom: 95px;">
                <a href="#" class="item-grid"
                   style="background-image: url(/static/images/image_4.jpg);width: 285px;height: 335px">

                    <div class="v-align">
                        <div class="v-align-middle">
                        <span class="icon"><img src="/static/images/9.svg" alt="Free HTML5 Templates"
                                                class="img-responsive"></span>
                            <h3 class="title">银行解决方案</h3>
                            <h5 class="category">通过互联网满足银行业的需求，推动银行创新服务进步，占据行业领先地位。</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4" style="margin-bottom: 95px;">
                <a href="#" class="item-grid"
                   style="background-image: url(/static/images/image_4.jpg);width: 285px;height: 335px">

                    <div class="v-align">
                        <div class="v-align-middle">
                        <span class="icon"><img src="/static/images/9.svg" alt="Free HTML5 Templates"
                                                class="img-responsive"></span>
                            <h3 class="title">银行解决方案</h3>
                            <h5 class="category">通过互联网满足银行业的需求，推动银行创新服务进步，占据行业领先地位。</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4" style="margin-bottom: 95px;">
                <a href="#" class="item-grid"
                   style="background-image: url(/static/images/image_4.jpg);width: 285px;height: 335px">

                    <div class="v-align">
                        <div class="v-align-middle">
                        <span class="icon"><img src="/static/images/9.svg" alt="Free HTML5 Templates"
                                                class="img-responsive"></span>
                            <h3 class="title">银行解决方案</h3>
                            <h5 class="category">通过互联网满足银行业的需求，推动银行创新服务进步，占据行业领先地位。</h5>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
