{% extends '_layout.html' %}

{% block web_content %}
    <aside id="fh5co-hero" class="js-fullheight">
        <div class="flexslider js-fullheight">
            <ul class="slides">
                <li style="background-image: url(/static/images/slide_product.jpg);">
                    <div class="container">
                        <div class="hover-animation-leave banner-content">
                            <div class="banner-content-title">
                                <div class="banner-content-title-icon"><i class="glyphicon glyphicon-plane"></i></div>
                                <!-- react-text: 11 -->负载均衡(Lb)<!-- /react-text --></div>
                            <div class="banner-content-description">
                                负载均衡(Lb)是一个基于应用视角的可视化运维管理平台，提供一站式多环境全应用生命周期管理，以及完善的权限管控及安全隔离服务，将您从繁琐的运维工作中解放出来，全身心关注于业务创新。
                            </div>
                            <div class="banner-content-addon"></div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </aside>

    <div id="fh5co-why-us" class="animate-box">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
                    <h2>产品概述</h2>
                </div>
                <div class="col-md-6">
                    <div class="general-description-group">
                        <div class="general-description-group-title">省心</div>
                        <div class="general-description-group-item">聚焦业务创新，无忧发布运维</div>
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class="general-description-group">
                        <div class="general-description-group-title">简单</div>
                        <div class="general-description-group-item">应用视角管理，简单、清晰、便捷</div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="general-description-group">
                        <div class="general-description-group-title">可视化</div>
                        <div class="general-description-group-item">更易用、更直观</div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="general-description-group">
                        <div class="general-description-group-title">灵活</div>
                        <div class="general-description-group-item">多种策略选择，按需灵活配置</div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="general-description-group">
                        <div class="general-description-group-title">快速</div>
                        <div class="general-description-group-item">一键打包，一键部署，一键运维</div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="general-description-group">
                        <div class="general-description-group-title">免费</div>
                        <div class="general-description-group-item">无需额外花费，只需资源投入</div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="fh5co-testimonial" class="animate-box">
        <div class="container">
            <div class="row">
                <div class="section-main">
                    <div class="home-section-title">
                        <div class="home-section-title-content">功能介绍</div>
                    </div>
                    <div class="col-md-3 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
                        <div class="row" style="height: 300px">
                            <div class="s-mod w1100">
                                <ul>
                                    <li class="s-mod-item" w="220" h="267" l="1" t="3" bg="white" cbg="white">
                                        <div class="s-mod-wrap">
                                            <div class="s-mod-def"><span>云服务器ESC</span></div>
                                            <div class="s-mod-cur"><span>简单高效、处理能力可弹性伸缩的计算服务。</span>
                                            </div>
                                        </div>
                                    </li>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="fh5co-blog" class="animate-box fadeInUp animated">
        <div class="container">
            <div class="row" style="margin-bottom: 60px;">
                <div class="section-main">
                    <div class="home-section-title">
                        <div class="home-section-title-content">应用场景</div>
                    </div>
                    <div class="scene-description">
                        <div class="col-md-6 scene-description-group">
                            <div class="scene-description-group">
                                <div class="scene-description-group-title">业务快速创新</div>
                                <div class="scene-description-group-item">
                                    在创新成为竞赛的互联网时代，实现创新型业务的快速落地对企业来说成为决胜的关键。发布部署服务可以大幅提升运维效率，减少人力成本，缩短应用上线周期。
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 scene-description-group">
                            <div class="scene-description-group">
                                <div class="scene-description-group-title">服务永不宕机</div>
                                <div class="scene-description-group-item">
                                    当用户的业务规模逐渐扩大，对业务上线过程的流程管理就变得越来越难以控制。同时，在用户体验为王的时代，服务永不停机是企业的基本诉求。发布部署服务提供分组发布与蓝绿发布能力，多种分组策略选择，让您快速具备大规模系统快速、稳妥、平滑上线的能力。
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}