<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta charset="utf-8" />
	<title>国美云 - 解决一切不可能</title>
	<link rel="icon" href="./images/home/favicon.png">
	<link rel="stylesheet" href="./css/common.css">
	<link rel="stylesheet" href="./css/cloudcomputeserver/cdn.css">
  <style>
      .build_pic {
          position: relative;
          width: 1370px;
          height: 800px;
          margin: 0 auto;
          background: url('./images/newPage/build.png');
          background-size: 100% 100%;
      }
      .small_pic {
        width: 200px;
        height: 50px;
        margin: 0px auto;
        /*border: 1px solid black;*/
        padding-top: 520px; 
        font-size: 18px;
        color: #333;
      }
      .notice {
        width: 300px;
        height: 50px;
        margin: 0px auto;
        border: 1px solid #eee;
        position: relative;
        top: 70px;
        text-align: center;
      }
      .notice span {
        line-height: 50px;
        color: #333;
        font-size: 18px;
      }
      @media (max-width: 1200px){
          .build_pic {
              width: 1200px;
          }
      }
  </style>
</head>

<body>
    <!-- 联系我们，回到顶部 -->
    <div class="flow-msg">
        <div class="connect-us" onClick="pageScrollBottom()">联系我们</div>
        <div class="back-top"><a onClick="pageScrollTop()"></a></div>
    </div>
    <!-- header -->
    <%- include('header.ejs', {}) %>
    
    <div class="build_pic">
      <div class="small_pic">
        <img src="./images/newPage/car.png" alt="">
        <span style="padding-left: 10px;">正在建设中...</span>
      </div>
      <div class="notice">
        <p><span id="time_s">4</span>秒后为您跳转到首页，请稍后...</p>
      </div>
    </div>


    <!-- footer -->
    <footer>
      <div class="footer">
          <div class="footer-container container">
              <div class="f-content">
                  <div class="f-item">
                      <span>关于我们</span>
                      <hr color="#939393">
                      <p>关于国美云</p>
                      <p>媒体报道</p>
                      <p>诚聘英才</p>
                  </div>
                  <div class="f-item">
                      <span>新手入门</span>
                      <hr color="#939393">
                      <p>了解国美云</p>
                      <p>如何成为开发者</p>
                      <p>如何入住国美云，查看流程</p>
                  </div>
                  <div class="f-item">
                      <span>联系我们</span>
                      <hr color="#939393">
                      <p>业务咨询</p>
                      <p><a href="mailto:yanzhenkai-kg@gome.com.cn">yanzhenkai-kg@gome.com.cn</a></p>
                      <p style="margin-top: 32px;">技术咨询：</p>
                      <p><a href="mailto:yanzhenkai-kg@gome.com.cn">yanzhenkai-kg@gome.com.cn</a></p>
                  </div>
                  <div class="f-item">
                      <div class="contact-icon">
                          <img class="f-c-icon" src="./images/home/xl-icon.png">
                          <span>新浪微博</span>
                      </div>
                      <div class="qrcode">
                          <img src="./images/home/qr-code.png">
                      </div>
                      <span class="f-q-notice">扫一扫</span>
                  </div>
              </div>
              <div class="f-down">
                  <div class="f-d-content">
                      <p class="f-d-item">Copyright@2016-2017 &nbsp&nbsp&nbsp gomecloud.com 国美云版权所有</p>
                  </div>
              </div>
          </div>
      </div>
    </footer>
    <script type="text/javascript" src="./js/jquery.js"></script>
    <script type="text/javascript" src="./js/common.js"></script>
    <script>
      var time = 4;
      var time_s = document.getElementById('time_s');
      setInterval(function() {
        time--;
        if(time === 0) {
          window.location.pathname = '/templates/index.html';
        }
        time_s.innerHTML = time;
      }, 1000);
    </script>
</body>

</html>
