<footer>
    <div class="footer">
        <div class="footer-container container">
            <div class="f-content">
                <div class="f-item">
                    <span>关于我们</span>
                    <hr color="#939393">
                    <p>国美云团队无所不能，天下无敌</p>
                </div>
                <div class="f-item">
                    <span>新手入门</span>
                    <hr color="#939393">
                    <p>了解国美云</p>
                    <p>如何成为开发者</p>
                    <p>如何入住国美云，查看流程</p>
                </div>
                <div class="f-item">
                    <span>联系我们</span>
                    <hr color="#939393">
                    <p>业务咨询</p>
                    <p><a href="mailto:yanzhenkai-kg@gome.com.cn">yanzhenkai-kg@gome.com.cn</a></p>
                    <p style="margin-top: 32px;">技术咨询：</p>
                    <p><a href="mailto:yanzhenkai-kg@gome.com.cn">yanzhenkai-kg@gome.com.cn</a></p>
                </div>
                <div class="f-item">
                    <div class="contact-icon">
                        <img class="f-c-icon" src="./images/xl-icon.png">
                        <span>新浪微博</span>
                    </div>
                    <div class="qrcode">
                        <img src="./images/qr-code.png">
                    </div>
                    <span class="f-q-notice">扫一扫</span>
                </div>
            </div>
            <div class="f-down">
                <div class="f-d-content">
                    <p class="f-d-item">Copyright@2016-2017 &nbsp&nbsp&nbsp gomecloud.com 国美云版权所有</p>
                </div>
            </div>
        </div>
    </div>
</footer>
