{% extends "base.html" %}


{% block headerJsAndCss %}
{{ super() }}
<link rel="stylesheet" href="./css/cloudcomputeserver/gbs.css">
{% endblock %}

{% block body %}
<!-- banner -->
{% import "productBanner.html" as productBanner %}
{{productBanner.banner('./images/productPages/EBS.png', 
'国美云硬盘 EBS', 
'国美云硬盘（Elastic Block Storage）,为国美云服务器提供持久便捷的块存储，用户可以像使用物理块设备一样来使用国美云硬盘，国美云硬盘会在其可用区内自动复制多份数据副本，防止硬件损坏导致的数据不可用，从而提升应用性能。')}}

  <!-- 云服务~导航 -->
{% from "subnav.html" import subnav %}
{{subnav()}}

<!-- 云服务·介绍 -->
  <div class="cloud-body">

      <!-- 产品介绍 -->
      <div class="product-introduction">
          <p class="cloud-title-noe"><span class="cloud-title-noe-pic"></span>产品概述</p>
          <table class="p-table">
              <thead class="p-thead">
                  <tr>
                      <th style="width: 200px;text-align: center;"></th>
                      <td style="width: 400px;text-align: center;text-align: center;">国美云硬盘</td>
                      <td style="width: 140px;text-align: center;"></td>
                      <td style="width: 360px;text-align: center;text-align: center;">传统硬盘</td>
                      <td style="width: 100px;text-align: center;"></td>
                  </tr>
              </thead>
              <tbody class="p-tb">
                  <tr style="height: 20px;"></tr>
                  <tr>
                      <th class="p-tb-head"><span class="p-tb-head-icon" style="background: url('./images/productPages/safety.png') no-repeat;"></span><span class="p-tb-head-content">易用性</span></th>
                      <td class="p-tb-content">通过控制台即可完成对云硬盘管理，无需等待漫长的采购周期</td>
                      <td class="p-tb-content"></td>
                      <td class="p-tb-content">需要等待漫长的采购周期以及后期人工上架管理</td>
                      <td class="p-tb-content"></td>
                  </tr>
                  <tr class="p-space"></tr>
                  <tr>
                      <th class="p-tb-head"><span class="p-tb-head-icon" style="background: url('./images/productPages/elasticity.png') no-repeat;"></span class="p-tb-head-content"><span>数据可靠性</span></th>
                      <td class="p-tb-content">云硬盘会在其可用区自动复制多份数据副本，保证数据可靠性</td>
                      <td class="p-tb-content"></td>
                      <td class="p-tb-content">需要人工创建数据副本</td>
                      <td class="p-tb-content"></td>
                  </tr>
                  <tr class="p-space"></tr>
                  <tr>
                      <th class="p-tb-head"><span class="p-tb-head-icon" style="background: url('./images/productPages/cost.png') no-repeat;"></span><span class="p-tb-head-content">成本可控性</span></th>
                      <td class="p-tb-content">普通硬盘0.27/G/月，高速盘1.08/G/月，根据磁盘容量进行收费，合理利用资源</td>
                      <td class="p-tb-content"></td>
                      <td class="p-tb-content">传统硬盘磁盘容量固定，容易造成资源浪费</td>
                      <td class="p-tb-content"></td>
                  </tr>
              </tbody>
          </table>
      </div>

      <!-- 功能介绍 -->
      <div class="function-introduction">
          <p class="cloud-title-noe"><span class="cloud-title-noe-pic"></span>功能介绍</p>
          <p class="cloud-content" style="margin-top: 20px;">方便管理：国美云硬盘提供控制台进行管理，用户可在控制台上<span style="color: #1dc3ed;">创建/挂载/删除</span>云硬盘。</p>
      </div>

      <!-- 应用场景 -->
      <div class="apply-scene">
        <p class="cloud-title-noe"><span class="cloud-title-noe-pic"></span>应用场景</p>
        <div class="apply-content">
          <div class="apply-item a-i-1">
            <div class="apply-item-middle">
              <p>企业官网/Web应用</p>
            </div>
          </div>
          <div class="apply-item a-i-2">
            <p style="font-size: 14px;margin: 20px 0 0 20px;">不会频繁读写磁盘，对磁盘I/O性能要求不高</p>
            <p class="apply-conf" style="font-weight: bold;"><span>推荐配置：</span>100G普通磁盘</p>
          </div>
          <div class="apply-item a-i-3">
          <div class="apply-item-middle">
            <p>中等规模关系型数据库/NoSQL数据库</p>
            </div>
          </div>
          <div class="apply-item a-i-4">
            <p style="font-size: 14px;margin: 20px 0 0 20px;">会频繁读写磁盘数据，对磁盘I/O性能要求较高</p>
            <p class="apply-conf" style="font-weight: bold;"><span>推荐配置：</span>500G高速盘</p>
          </div>
        </div>
      </div>

      <!-- 常见问题 -->
      <div class="faq">
          <p class="cloud-title-noe"><span class="cloud-title-noe-pic"></span>常见问题</p>

          <p class="cloud-title-three" style="margin-top: 20px;"><span style="font-size: 14px;">●</span>&nbsp;&nbsp;国美云服务器实例终止时，会对用户的数据产生什么影响？</p>
          <p class="cloud-content">与保存在本地实例存储的数据（只要实例存在，数据就始终存在）不同，保存在国美云云硬盘卷中的数据存续不受实例寿命的影响。因此我们建议将本地实例存储仅用于临时数据，而对于需要保存较长时间的数据使用国美云云硬盘来保存。</p>

          <p class="cloud-title-three" style="margin-top: 30px;"><span style="font-size: 14px;">●</span>&nbsp;&nbsp;国美云云硬盘预计可以带来什么样的性能？</p>
          <p class="cloud-content">国美云云硬盘提供两种卷类型：普通盘，快速盘：<br />1.普通盘主要使用在应用对磁盘读写性能要求不高的场景下，例如Web应用等。<br />2.快速盘主要使用在应用需要较高读写性能的场景下，例如关系型数据库，非关系型数据库等。</p>

          <p class="cloud-title-three" style="margin-top: 30px;"><span style="font-size: 14px;">●</span>&nbsp;&nbsp;能否将多个卷一起条带化以获得更好性能？</p>
          <p class="cloud-content">能。可以将挂载到较大云服务器的多个卷一起条带化，例如利用LVM实现将多个云硬盘条带化，以实现更出色的性能。</p>
      </div>
  </div>
{% endblock %}

{% block footerJsAndCss %}
{{ super() }}
<script type="text/javascript" src="./js/cloudcomputeserver/cloudcomputing.js"></script>
{% endblock %}
