<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta charset="utf-8" />
	<title>国美云 - 解决一切不可能</title>
	<link rel="icon" href="./images/home/favicon.png">
	<link rel="stylesheet" href="./css/common.css">
	<link rel="stylesheet" href="./css/cloudcomputeserver/cdn.css">
    <style>
        .apply-div {
            width: 432px;
            height: 128px;
            position: absolute;
            top: 38px;
            right: 160px;
            box-sizing: border-box;
            border: 1px solid #22d2dd;
        }
        .apply-table {
            width: 100%;
            max-width: 100%;
            font-size: 12px;
            border-collapse:collapse; 
            border-spacing:0;
        }
        th, td {
            border-right: 1px solid #d3dde1;
            border-bottom: 1px solid #d3dde1;
            padding: 5px 15px;
        }
        thead {
            color: #333;
            background: #e6f5f8
        }
        thead tr {
            height: 46px;
        }
        tbody {
            color: #666;
        }
        tbody tr {
            height: 40px
        }
    </style>
</head>

<body>
    <!-- 联系我们，回到顶部 -->
    <div class="flow-msg">
        <div class="connect-us" onClick="pageScrollBottom()">联系我们</div>
        <div class="back-top"><a onClick="pageScrollTop()"></a></div>
    </div>
    <!-- header -->
    <%- include('header.ejs', {}) %>
    
    <!-- banner -->
    <div class="banner-description">
        <div class="banner-description-container">
            <div class="banner-description-icon">
                <img src="./images/newPage/DNS.png" style="width: 100%; height: 100%;">
            </div>
            <div class="banner-description-content">
                <p class="b-d-c-title">国美云域名解析系统 DNS</p>
                <p class="b-d-c-font">云域名解析系统（Domain Name System，简称DNS）是一种可用性高、扩展性强的云域名系统 。<br />旨在为开发人员和企业提供一种安全可靠且经济高效的域名解析方式。</p>
            </div>
        </div>
    </div>

	<!-- 云服务~导航 -->
    <div class="c-outer">
        <div class="cloud-head">
            <div class="c-h-content">
                <ul class="cloud-menu-box">
                    <li class="c-m-b-li" style="margin: 0 60px;">功能介绍</li>
                    <li class="c-m-b-li" style="margin: 0 60px;">应用场景</li>
                    <li class="c-m-b-li" style="margin: 0 60px;">常见问题</li>
                </ul>
                <a href="" class="cloud-btn">立即注册</a>
                <div class="cloud-product-menu">
                    <div class="p-menu-title">
                        <div class="cloud-all-menu">
                            <span class="all-menu"></span>
                            <span>全部产品</span>
                        </div>
                        <!-- 下拉菜单 -->
                        <div class="cloud-nav-menu">
                            <div class="cloud-menu">
                                    <div class="cloud-menu-one">
                                        <ul>
                                            <li class="cloud-menu-one-active">云计算基础服务 <span class="icon"></span></li>
                                            <!-- <li>产品2 <span class="icon"></span></li>
                                            <li>产品3 <span class="icon"></span></li>
                                            <li>产品4 <span class="icon"></span></li>
                                            <li>产品5 <span class="icon"></span></li>
                                            <li>产品6 <span class="icon"></span></li> -->
                                        </ul>
                                    </div>
                                    <div class="cloud-menu-tow">
                                        <div style="display:block;">
                                            <div class="cloud-menu-three">
                                                <ul>
                                                    <li class="cloud-menu-three-active">弹性计算</li>
                                                    <li>内容分发</li>
                                                    <li>网络</li>
                                                </ul>
                                            </div>
                                            <div class="cloud-menu-four">
                                                <div style="display:block;">
                                                    <div class="cloud-m-f-item">
                                                        <a href="./gomeEC2.html" style="text-decoration:none;">
                                                            <p class="cloud-m-f-item1">国美云服务器（EC2）</p>
                                                            <p class="cloud-m-f-item2">一种低开销，简单且高效的弹性计算服务</p>
                                                        </a>
                                                    </div>
                                                    <div class="cloud-m-f-item">
                                                        <a href="./gomeEBS.html" style="text-decoration:none;">
                                                            <p class="cloud-m-f-item1">国美云硬盘（EBS）</p>
                                                            <p class="cloud-m-f-item2">为云服务器提供高可用、持久性、低延迟的数据块级随机存储</p>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div style="display:none;">
                                                    <div class="m-f-item">
                                                        <a href="./gomeELB.html" style="text-decoration:none;">
                                                            <p class="cloud-m-f-item1">国美云负载均衡（ELB）</p>
                                                            <p class="cloud-m-f-item2">对多台云服务器的传入流量进行分发的负载均衡服务</p>
                                                        </a>
                                                    </div>
                                                    <div class="m-f-item">
                                                        <a href="./gomeCDN.html" style="text-decoration:none;">
                                                            <p class="cloud-m-f-item1">内容分发网络（CDN）</p>
                                                            <p class="cloud-m-f-item2">一种高质量的内容分发服务</p>
                                                        </a>
                                                    </div>
                                                    <div class="m-f-item">
                                                        <a href="./gomeDNS.html" style="text-decoration:none;">
                                                            <p class="cloud-m-f-item1">国美云域名解析系统（DNS）</p>
                                                            <p class="cloud-m-f-item2">一站式域名解析服务</p>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div style="display:none;">
                                                    <div class="m-f-item">
                                                        <a href="./gomeVPC.html" style="text-decoration:none;">
                                                            <p class="cloud-m-f-item1">虚拟专有网络（VPC）</p>
                                                            <p class="cloud-m-f-item2">完全属于您的逻辑隔离网络环境,保障资源安全</p>
                                                        </a>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <!-- <div style="display:none;"></div>
                                        <div style="display:none;"></div>
                                        <div style="display:none;"></div>
                                        <div style="display:none;"></div>
                                        <div style="display:none;"></div> -->
                                    </div>
                                    <div class="cloud-upIcon"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

	
	<!-- 云服务·介绍 -->
    <div class="cloud-body">
        
        <!-- 功能介绍 -->
        <div class="function-introduction">
            <p class="cloud-title-noe"><span class="cloud-title-noe-pic"></span>功能介绍</p>
            <p class="cloud-title-tow" style="margin-top: 20px;">&nbsp;&nbsp;基础解析</p>
            <p class="cloud-title-three">完整构建域名产品体系，一站式服务方便快捷</p>
            <p class="cloud-content">从域名注册到域名解析，用户无需借助第三方服务，一站式满足用户的整体需求。</p>
            <p class="cloud-title-three">稳定域名解析，无后顾之忧</p>
            <p class="cloud-content">云域名解析系统提供稳定、安全、极速的域名解析能力，使您专心于核心业务开发，无需担心域名解析问题。</p>
            <p class="cloud-title-three">多解析记录类型，满足用户大多数业务场景</p>
            <p class="cloud-content">支持A、MX、CNAME等记录类型，覆盖用户大多数业务场景。</p>

            <p class="cloud-title-tow">&nbsp;&nbsp;智能解析</p>
            <p class="cloud-title-three">三大运营商线路细分</p>
            <p class="cloud-content">支持移动、联通、电信三大运营商的线路细分。</p>
            <p class="cloud-title-three">搜索引擎线路选择</p>
            <p class="cloud-content">云域名解析系统支持谷歌、百度、必应、有道、雅虎等搜索引擎线路。</p>
            
        </div>

        <!-- 应用场景 -->
        <div class="apply-scene">
        	<p class="cloud-title-noe"><span class="cloud-title-noe-pic"></span>应用场景</p>
        	<div class="apply-content" style="height: 785px;">
        		<div class="apply-item a-i-1" style="height: 140px;">
        			<div class="apply-item-middle">
        				<p>多线路智能化解决</p>
        			</div>
        		</div>
	        	<div class="apply-item a-i-2" style="height: 140px;">
	        		<p class="a-i-up">基于云域名解析系统多线路智能解析服务，实现对访问流量负载均衡。</p>
	        		<p class="apply-conf"><span>推荐配置：</span>EC2+ELB+DNS</p>
	        	</div>
                <div class="apply-pic">
                    <img src="./images/newPage/dnsapply.png" alt="" >

                    <div class="apply-div">
                        <table class="apply-table">
                            <thead>
                                <tr>
                                    <th>域名</th>
                                    <th>记录类型</th>
                                    <th>类型</th>
                                    <th style="border-right: none; style="border-bottom: none;"">线路类型</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>www.example.com</th>
                                    <th>A</th>
                                    <th>192.168.0.1</th>
                                    <th style="border-right: none; style="border-bottom: none;"">移动</th>
                                </tr>
                                <tr>
                                    <th style="border-bottom: none;">www.example.com</th>
                                    <th style="border-bottom: none;">A</th>
                                    <th style="border-bottom: none;">192.168.0.1</th>
                                    <th style="border-bottom: none;border-right: none;">联通</th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
        	</div>
        </div>

        <!-- 常见问题 -->
        <div class="faq">
            <p class="cloud-title-noe"><span class="cloud-title-noe-pic"></span>常见问题</p>

            <p class="cloud-title-three" style="margin-top: 20px;"><span style="font-size: 14px;">●</span>&nbsp;&nbsp;什么是域名解析（DNS）服务？</p>
            <p class="cloud-content">DNS是一种域名解析服务，可以将www.example.com等方便用户访问的名称转换为192.0.2.1等数字IP地址，供计算机用于互相连接。Internet 的 DNS 系统的工作原理和电话簿相似，都是管理名称和数字之间的映射关系。对于DNS而言，名称为方便人们记忆的域名（www.example.com），数字为指定计算机在Internet上位置的 IP 地址（192.0.2.1）。DNS 服务器可以将名称请求转换为 IP 地址，从而控制最终用户在 Web 浏览器中输入域名时所访问的服务器。</p>

            <p class="cloud-title-three" style="margin-top: 30px;"><span style="font-size: 14px;">●</span>&nbsp;&nbsp;如何使用国美云域名解析系统？</p>
            <p class="cloud-content">您可以在控制台上选择域名进行配置。</p>
        </div>
    </div>

	<!-- footer -->
    <%- include('footer.ejs', {}) %>
    <script type="text/javascript" src="./js/jquery.js"></script>
	<script type="text/javascript" src="./js/common.js"></script>
	<script type="text/javascript" src="./js/cloudcomputeserver/cdn.js"></script>
</body>

</html>
