{% extends "base.html" %}


{% block headerJsAndCss %}
{{ super() }}
<link rel="stylesheet" href="./css/cloudcomputeserver/glb.css">
{% endblock %}

{% block body %}
<!-- banner -->

{% import "productBanner.html" as productBanner %}
{{productBanner.banner('./images/newPage/ELB.png', 
'国美云负载均衡 ELB', 
'国美云负载均衡（Elastic Load Balancer, 简称ELB），是一种将传入流量自动分发到后端多台云服务器上的负载均衡服务。通过流量的均衡分发承载较大规模的流量，扩充系统对外服务能力。通过消除单点故障隐患，提升服务对外可用性。')}}


<!-- 云服务~导航 -->
{% from "subnav.html" import subnav %}
{{subnav()}}

<!-- 云服务·介绍 -->
<div class="cloud-body">

    <!-- 产品介绍 -->
    <div class="product-introduction">
        <p class="cloud-title-noe"><span class="cloud-title-noe-pic"></span>产品概述</p>
        <p class="cloud-title-three">国美云目前支持四层，七层协议负载均衡</p>
        <p class="cloud-content">您可以在控制台管理您的负载均衡服务，自由添加删除后端云服务器，从而实现业务无缝伸缩能力。</p>
        <div class="product-pic">
            <img src="./images/newPage/product.png" alt="">
        </div>
        <table class="p-table">
            <thead class="p-thead">
                <tr>
                    <th style="width: 200px;text-align: center;"></th>
                    <td style="width: 205px;text-align: center;text-align: center;">国美云负载均衡</td>
                    <td style="width: 100px;text-align: center;"></td>
                    <td style="width: 190px;text-align: center;text-align: center;">传统硬件负载均衡</td>
                    <td style="width: 100px;text-align: center;"></td>
                </tr>
            </thead>
            <tbody class="p-tb">
                <tr style="height: 20px;"></tr>
                <tr>
                    <th class="p-tb-head"><span class="p-tb-head-icon" style="background: url('./images/newPage/slb.png') no-repeat;"></span><span class="p-tb-head-content">扩展性</span></th>
                    <td class="p-tb-content">支持添加/删除后端云服务器，在不影响业务情况下，<br />无缝扩充/缩减服务规模</td>
                    <td class="p-tb-content"></td>
                    <td class="p-tb-content">性能达到瓶颈后，需要中断服务，扩容设备</td>
                    <td class="p-tb-content"></td>
                </tr>
                <tr class="p-space"></tr>
                <tr>
                    <th class="p-tb-head"><span class="p-tb-head-icon" style="background: url('./images/newPage/cost.png') no-repeat;"></span class="p-tb-head-content"><span class="p-tb-head-content">成本</span></th>
                    <td class="p-tb-content">零运维费用，零硬件费用，只需支付带宽费用</td>
                    <td class="p-tb-content"></td>
                    <td class="p-tb-content">前期高昂硬件费用，后续需投入专人维护硬件服务</td>
                    <td class="p-tb-content"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- 功能介绍 -->
    <div class="function-introduction">
        <p class="cloud-title-noe"><span class="cloud-title-noe-pic"></span>功能介绍</p>
        <p class="cloud-title-tow" style="margin-top: 20px;">&nbsp;&nbsp;多样性</p>
        <p class="cloud-title-three">多种协议支持，满足多样化业务场景</p>
        <p class="cloud-content">丰富的协议支持，支持包含TCP协议的四层负载均衡，以及HTTP协议和HTTPS协议的七层负载均衡，并对HTTPS协议提供加密的集中化证书管理系统，满足您多样化的业务场景。</p>

        <p class="cloud-title-tow">&nbsp;&nbsp;高可用性</p>
        <p class="cloud-title-three">实时健康检查，隔离故障云主机</p>
        <p class="cloud-content">根据规则对后端业务服务器进行健康检查，自动隔离异常主机，一旦发现问题，迅速将问题主机从集群摘除，确保服务可用性，当主机恢复正常时又会自动恢复负载。</p>

        <p class="cloud-title-tow">&nbsp;&nbsp;灵活性</p>
        <p class="cloud-title-three">会话保持，基于URL转发，满足用户个性化需求</p>
        <p class="cloud-content">四层负载均衡通过IP地址实现会话保持，七层负载均衡通过cookie支持会话保持，可将一定时间内来自同一用户的访问请求转发到同一个后端服务器上进行处理，实现用户访问连续性。七层负载均衡除了提供基于域名的转发外还提供基于URI的转发配置，用户可以很方便的根据访问路径进行转发，方便用户做域名收敛，满足多样化的需求。</p>

        <p class="cloud-title-tow">&nbsp;&nbsp;易用性</p>
        <p class="cloud-content" style="margin-top: 20px;">您可以在控制台创建/管理负载均衡服务和后端服务器，实时查看状态。</p>            
    </div>

    <!-- 应用场景 -->
    <div class="apply-scene">
      <p class="cloud-title-noe"><span class="cloud-title-noe-pic"></span>应用场景</p>
      <div class="apply-content" style="border-left: 1px solid #f0f0f0;height: 451px;">
        <div class="apply-item a-i-1" style="height: 110px;border-left: 2px solid #1dc3ed;">
          <div class="apply-item-middle" style="height: 110px;">
            <p style="width: 180px;">持续较大规模流量的网站</p>
          </div>
        </div>
        <div class="apply-item a-i-2" style="height: 110px;">
          <p style="font-size: 14px;margin: 20px 40px 0 40px;">流量无明显周期性规律，持续较大规模流量，前端使用ELB承载传入流量，ELB将流量均衡转发至后端云服务器，避免少数云服务器承载过大流量。</p>
          <p class="apply-conf" style="font-weight: bold;margin: 15px 40px 0 40px;"><span>推荐配置：</span>ELB+EC2</p>
        </div>
            <div class="apply-pic">
                <img src="./images/newPage/applyELB.png" alt="" >
            </div>
      </div>
    </div>

    <!-- 常见问题 -->
    <div class="faq">
        <p class="cloud-title-noe"><span class="cloud-title-noe-pic"></span>常见问题</p>

        <p class="cloud-title-three" style="margin-top: 20px;"><span style="font-size: 14px;">●</span>&nbsp;&nbsp;ELB支持哪些协议？</p>
        <p class="cloud-content">ELB支持四层/七层协议负载均衡，分别支持TCP/HTTP/HTTPS协议。</p>

        <p class="cloud-title-three" style="margin-top: 30px;"><span style="font-size: 14px;">●</span>&nbsp;&nbsp;可以对哪些 TCP 端口执行负载均衡？</p>
        <p class="cloud-content">您可以对“1-65535 ”TCP 端口执行负载均衡。</p>

        <p class="cloud-title-three" style="margin-top: 30px;"><span style="font-size: 14px;">●</span>&nbsp;&nbsp;ELB的定价机制是什么？</p>
        <p class="cloud-content">目前国美云负载均衡服务只支持按照固定带宽进行计费。</p>
    </div>
</div>
{% endblock %}

{% block footerJsAndCss %}
{{ super() }}
<script type="text/javascript" src="./js/cloudcomputeserver/cloudcomputing.js"></script>
{% endblock %}
