{% extends "base.html" %}

{% block headerJsAndCss %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="./css/index.css">
{% endblock %}


{% block body %}

<!-- Banner -->
<div class="banner">
    <div class="b-img">
        <div class="b-outer">
            <div class="b-container">
                <div class="b-left">
                    <h3>国美云服务器 (EC2) </h3>
                    <p>一种低开消，简单且高效且弹性的计算服务</p>
                    <a class="b-btn"></a>
                </div>
                <div class="b-right"></div>
            </div>
        </div>
        <!-- <div class="b-outer">
            <a href="#" style="background:url(./images/banner1.jpg) center no-repeat; background-size: 100%;"></a>
        </div>
        <div class="b-outer">
            <a href="#" style="background:url(./images/banner2.jpg) center no-repeat; background-size: cover;"></a>
        </div> -->
    </div>
    <div class="b-list"></div>
    <!-- <a class="bar-left" href="#"><em></em></a><a class="bar-right" href="#"><em></em></a> -->
</div>

<!-- 活动信息 -->
<div class="activeInfo">
  <div class="container">
    <div class="activeItem">
      <div class="inner-box">
        <div class="activePic" style="background: url('./images/home/login-gift-01.png') no-repeat;background-size: contain;"></div>
        <div class="activeIntroduce">
          <div class="activeFont">
            <span>注册</span>
            <p>马上成为国美云用户，体验不一样的云服务</p>
          </div>
        </div>
      </div>
    </div>
    <div class="activeItem2">
      <div class="inner-box">
        <div class="activePic" style="background: url('./images/home/discount-term-01.png') no-repeat;background-size: contain;"></div>
        <div class="activeIntroduce">
          <div class="activeFont">
            <span>国美云价格预算</span>
            <p>使用国美云平台按需计费方式评估使用价格</p>
          </div>
        </div>
      </div>
    </div>
    <div class="activeItem">
      <div class="inner-box">
        <div class="activePic" style="background: url('./images/home/quickStart-01.png') no-repeat;background-size: contain;"></div>
        <div class="activeIntroduce">
          <div class="activeFont">
            <span>国美云功能更新</span>
            <p>了解国美云最新功能以及国美云的发展历程</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 云计算服务 -->
<div class="computing">
  <div class="Title">
        <hr style="width: 65px; margin-bottom: 7px;" color="#1dc3ed">
    <span>国美云提供高效，稳定的</span>
    <span style="color: #1dc3ed">云服务</span>
        <hr style="width: 65px; float: right;margin-top: 7px;" color="#1dc3ed">
  </div>
  <div id="service" class="service">
    <div id="items" class="service-item">
      <div class="s-item">
        <div class="s-item-box">
          <div style="height: 80px; text-align: center; margin-bottom: 54px;">
            <img src="./images/home/technology.png">
          </div>
          <h4>EC2</h4>
          <p>仅需几秒创建属于您的云服务器。</p>
        </div>
      </div>
      <div class="s-item">
        <div class="s-item-box">
          <div style="height: 80px; text-align: center; margin-bottom: 54px;">
            <img src="./images/home/mix.png">
          </div>
          <h4>VPC</h4>
          <p>了解如何创建虚拟专有网络。</p>
        </div>
      </div>
      <div class="s-item">
        <div class="s-item-box">
          <div style="height: 80px; text-align: center; margin-bottom: 54px;">
            <img src="./images/home/open.png">
          </div>
          <h4>ELB</h4>
          <p>如何使用负载均衡构建高可用的服务架构。</p>
        </div>
      </div>
            <div class="s-item">
                <div class="s-item-box">
                    <div style="height: 80px; text-align: center; margin-bottom: 54px;">
                        <img src="./images/home/GDNS.png">
                    </div>
                    <h4>GDNS</h4>
                    <p>为您构建一站式的域名解析服务。</p>
                </div>
            </div>
    </div>
        <div id="s-left" class="service-left"></div>
        <div id="s-right" class="service-right"></div>
  </div>
</div>

<!-- 解决方案 -->
<div class="solvePlan">
  <div class="s-title">
        <hr style="width: 65px; margin-bottom: 7px;" color="#1dc3ed">
    <span>基于场景的</span>
    <span style="color: #1dc3ed">行业解决方案</span>
        <hr style="width: 160px; float: right;margin-top: 7px;" color="#1dc3ed">
  </div>
  <div class="solvePlan-container container">
    <ul>
      <li class="cart-item cart-active">
        <div class="cart-up">
          <div class="solve-pic1"></div>
          <p class="solve-item-title">量身定制业务云化方案</p>
        </div>
        <div class="cart-down">
          <p>国美云可以针对业务构架，定制专属云化方案，帮助您无缝切换到云环境。目前，国美云已经成功帮助多家企业从传统架构转变为云架构</p>
        </div>
      </li>
      <li class="cart-item">
        <div class="cart-up">
          <div class="solve-pic2"></div>
          <p class="solve-item-title">专业运维工程师支持</p>
        </div>
        <div class="cart-down">
          <p>国美云拥有国内业界专业的运维工程师团队。为您量身定制高可用架构，解决运维相关问题，使企业真正聚焦核心业务，无后顾之忧</p>
        </div>
      </li>
      <li class="cart-item">
        <div class="cart-up">
          <div class="solve-pic3"></div>
          <p class="solve-item-title">计费方式多样化</p>
        </div>
        <div class="cart-down">
          <p>国美云支持丰富灵活的计费模式。您可以针对业务周期，自由选择按需付费或者包年、包月模式，极大程度上有效利用资源，节省基础设施开支</p>
        </div>
      </li>
    </ul>
  </div>
</div>

<!-- 合作伙伴 -->
<div class="partner">
  <div class="partner-title">
        <hr style="width: 65px; margin-bottom: 7px;" color="#1dc3ed">
    <span>合作</span>
    <span style="color: #1dc3ed">伙伴</span>
        <hr style="width: 65px; float: right;margin-top: 7px;" color="#1dc3ed">
  </div>
  <div class="partner-container">
    <div><a target="_black" href="https://www.gomeholdings.com"><img src="./images/home/gome.png"></a></a></div>
    <div><a target="_black" href="http://www.gome.com.cn"><img src="./images/home/gome-unline.png"></a></div>
    <div><a target="_black" href="http://www.mgtv.com"><img src="./images/home/mango-tv.png"></a></div>
    <div><a target="_black" href="http://gomesmart.com"><img src="./images/home/gomecloudz.png"></a></div>
    <div><a target="_black" href="http://www.imgomall.com"><img src="./images/home/mango-mall.png"></a></div>
  </div>
</div>
{% endblock %}

{% block footerJsAndCss %}
{{ super() }}
<script type="text/javascript" src="./js/index.js"></script>
{% endblock %}
