<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta charset="utf-8" />
	<title>国美云 - 解决一切不可能</title>
	<link rel="icon" href="./images/home/favicon.png">
	<link rel="stylesheet" href="./css/common.css">
	<link rel="stylesheet" href="./css/cloudcomputeserver/joinus.css">
  <link rel="stylesheet" href="./css/bootstrap.css">
  <script type="text/javascript" src="./js/jquery.js"></script>
  <script type="text/javascript" src="./js/joinus/page.js"></script>
  <style>
    .backTop {
      position: fixed;
      top: 60%;
      right: 5px;
      width: 40px;
      height: 140px;
      background: #000;
      z-index: 999;
  }
  .j-connect-us {
      width: 40px;
      height: 100px;
      padding: 5px 10px;
      word-wrap: break-word;
      color: white;
      text-align: center;
      background: #4fd1d9;
  }
  .f-back-top {
      position: relative;
      width: 40px;
      height: 40px;
      background: url('./images/home/up.png') no-repeat 0 -87px;
  }
  .f-back-top a {
      position: absolute;
      width: 40px;
      height: 40px;
  }
  </style>
</head>

<body>
  <!-- 联系我们，回到顶部 -->
  <div class="backTop">
      <div class="j-connect-us" onClick="pageScrollBottom()">联系我们</div>
      <div class="f-back-top"><a onClick="pageScrollTop()"></a></div>
  </div>
  <!-- header -->
  <%- include('header.ejs', {}) %>
    
  <!-- banner -->
  <div class="banner">
    <div class="banner-title">期待<span>你的</span>加入</div>
  </div>

  <!-- 招聘展示区 -->
  <div class="Recruitment">
    <div class="r-outer">
      <div class="r-inner">
        <div class="r-content">

          <!--搜索区-->
          <div id="jobInfo" class="r-serrch">
            <div class="input-group">
              <img class="r-search-icon" src="./images/joinus/search.png" alt="">
              <input id="search-inp" class="form-control r-input" >
              <span id="search-btn" class="input-group-addon r-btn">搜索</span>
            </div>
          </div><br><br>

          <!--招聘信息-->
          <div class="job-list-content">
            <div class="job-head">
              <p class="job-table-head">职位名称</p>
              <p class="job-table-head">职位类型</p>
              <p class="job-table-head">工作地址</p>
              <p class="job-table-head">发布时间</p>
            </div>
            <div id="job-body" class="job-body">

              <!--<div class="job-item">
                <div class="job-item-title" data-toggle="collapse" data-target="#item1">
                  <p class="job-item-head">高级开发工程师1</p>
                  <p class="job-item-head">技术类</p>
                  <p class="job-item-head">北京</p>
                  <p class="job-item-head">2017-01-25 <span class="shrink"></span></p>
                  <hr style="margin: 0 20px;" />
                </div>
                <div id="item1" class="collapse in">
                  <div class="job-detail">
                    <p>岗位职责</p>
                    <ul>
                      <li>负责国美云产品计算、虚拟化组件方案架构设计、开发实现和优化工作。</li>
                      <li>从技术、运维多角度，对创云物理/虚拟化网络的稳定性、高可用和高性能负责。</li>
                    </ul>
                    <p>任职资格</p>
                    <ul>
                      <li>2年以上云计算研发项目经验；</li>
                      <li>熟练使用Python、C/C++、Java或其他脚本语言；</li>
                      <li>精通 Linux内核，熟悉KVM/VMware虚拟化，具有OpenStack开发经验；</li>
                      <li>熟悉Kubernetes、Docker、Mesos、Openstack等主流开源项目架构和源码；</li>
                      <li>热衷前沿技术的探索，能快速掌握和理解新技术；具备良好的团队合作精神，善于沟通交流；</li>
                      <li>具有开源项目贡献经验者优先；</li>
                    </ul>
                    <div class="contentUs">
                      <img src="./images/joinus/3.png" alt="">
                      <span style="margin: 0 20px 0 10px;">简历直达：<a href="mailto:suyu-kg@gome.com.cn">suyu-kg@gome.com.cn</a></span>
                      <span>关注微信：aliker</span>
                    </div>
                  </div>
                  
                  <hr style="margin: 0 20px;" />
                </div>
              </div>-->
            </div>
          </div>

          <!--分页区-->
          <div style="width: 250px;height: 50px;margin: 15px auto 0;">
              <ul class="page" maxshowpageitem="3" pagelistcount="10"  id="page"></ul>
          </div>
        </div>
      </div>
    </div>
  </div>

	<!-- footer -->
  <%- include('footer.ejs', {}) %>
	<script type="text/javascript" src="./js/common.js"></script>
  <script type="text/javascript" src="./js/bootstrap.min.js"></script>
  <script type="text/javascript" src="./js/joinus/joinus.js"></script>
  <script>
    $('.job-item-title').click(function() {
		var _index=$(this).index();
    var _span = $(this).children('p').children('span');
		var _span_class = _span.attr('class');
    if (_span_class === 'shrink') {
      _span.attr('class', 'extend');
    } else {
      _span.attr('class', 'shrink');
    }
	});
  </script>
</body>

</html>
