<!-- header -->
	<header class="header s-header">
	    <div class="hd s-hd">
            <div class="content-bg">
                <div class="hd-container container">
                    <div class="logo">
                        <a href="./index.html"><img src="./images/home/gome-cloud.png" /></a>
                    </div>
                    <div class="nav">
                        <div class="nav-left">
                            <div class="left-item">
                                <span style="line-height: 66px;color: #1dc3ed;">产品</span>
                                <div class="nav-menu">
                                    <div class="menu">
                                            <div class="menu-one">
                                                <ul>
                                                    <li class="menu-one-active">云计算基础服务 <span class="icon"></span></li>
                                                    <!-- <li>产品2 <span class="icon"></span></li>
                                                    <li>产品3 <span class="icon"></span></li>
                                                    <li>产品4 <span class="icon"></span></li>
                                                    <li>产品5 <span class="icon"></span></li>
                                                    <li>产品6 <span class="icon"></span></li> -->
                                                </ul>
                                            </div>
                                            <div class="menu-tow">
                                                <div style="display:block;">
                                                    <div class="menu-three">
                                                        <ul>
                                                            <li class="menu-three-active">弹性计算</li>
                                                            <li>内容分发</li>
                                                            <li>网络</li>
                                                        </ul>
                                                    </div>
                                                    <div class="menu-four">
                                                        <div style="display:block;">
                                                            <div class="m-f-item">
                                                                <a href="./cloudServer.html" style="text-decoration:none;">
                                                                    <p class="m-f-item1">云服务器（EC2）</p>
                                                                    <p class="m-f-item2">一种低开销，简单且高效的弹性计算服务</p>
                                                                </a>
                                                            </div>
                                                            <div class="m-f-item">
                                                                <p class="m-f-item1">块存储（EBS）</p>
                                                                <p class="m-f-item2">为云服务器提供高可用、持久性、低延迟的数据块级随机存储</p>
                                                            </div>
                                                        </div>
                                                        <div style="display:none;">
                                                            <div class="m-f-item">
                                                                <p class="m-f-item1">负载均衡（GLB）</p>
                                                                <p class="m-f-item2">对多台云服务器的传入流量进行分发的负载均衡服务</p>
                                                            </div>
                                                            <div class="m-f-item">
                                                                <p class="m-f-item1">CDN</p>
                                                                <p class="m-f-item2">一种高质量的内容分发服务</p>
                                                            </div>
                                                            <div class="m-f-item">
                                                                <p class="m-f-item1">GDNS</p>
                                                                <p class="m-f-item2">一站式域名解析服务</p>
                                                            </div>
                                                        </div>
                                                        <div style="display:none;">
                                                            <div class="m-f-item">
                                                                <p class="m-f-item1">虚拟专有网络(VPC)</p>
                                                                <p class="m-f-item2">完全属于您的逻辑隔离网络环境,保障资源安全</p>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                                <!-- <div style="display:none;"></div>
                                                <div style="display:none;"></div>
                                                <div style="display:none;"></div>
                                                <div style="display:none;"></div>
                                                <div style="display:none;"></div> -->
                                            </div>
                                            <div class="upIcon"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="left-item"><span style="line-height: 66px;">价格</span></div>
                            <div class="left-item"><span style="line-height: 66px;">解决方案</span></div>
                            <div class="left-item"><span style="line-height: 66px;">帮助与文档</span></div>
                        </div>
                        <div class="nav-right">
                            <div class="right-item"><span>注册有礼</span></div>
                            <div class="right-item1">登录</div>
                            <div class="right-item1">控制台</div>
                        </div>
                    </div>
                </div>
            </div>
	    </div>

        <div class="header-bg">
            <div class="h-bg-content">
                <div style="width: 110px;height: 110px;float: left;margin-right: 40px;">
                    <img src="./images/newPage/GCS.png" style="width: 100%; height: 100%;">
                </div>
                <div style="height: 110px;float: left;">
                    <p style="font-size: 38px;color: #333;">云服务器 GCS</p>
                    <p style="font-size: 16px; color: #333;margin-top: 15px;">国美云服务器（Gome Cloud Server, 简称GCS），一种低开销、简单高效的弹性计算服务。<br />可快速完成云服务器创建，按时间灵活计费，有效降低基础设施成本，无需底层运维，真正致力于核心业务发展。</p>
                </div>
            </div>
        </div>
	</header>