<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta charset="utf-8" />
	<title>国美云 - 解决一切不可能</title>
  <link rel="icon" href="./images/home/favicon.png">

  {% block headerJsAndCss %}
  <link rel="stylesheet" href="./css/commonAll.css">
  <script>
    (function () {
      var url = location.href;
      // replace www.test.com with your domain
      if ( navigator.userAgent.match(/(iPhone|iPod|Android|ios|iPad)/i) ) {
        // var newUrl = url.replace('http://www', 'http://m');
        // location.href = newUrl;
        location.href = 'http://0.0.0.0:8888';
      }
    })();
  </script>
  {% endblock %}
</head>
<body>
    
  <!-- 联系我们，回到顶部 -->
  {% block flow %}
  {% include "flow.html" %}
  {% endblock %}

	<!-- header -->
  {% block header %}
  {% include "header.html" %}
  {% endblock %}

  {% block body %}
  {% endblock %}
  
  <!-- footer -->
  {% block footer %}
  {% include "footer.html" %}
  {% endblock %}
  
  {% block footerJsAndCss %}
  <script type="text/javascript" src="./js/jquery.js"></script>
  <script type="text/javascript" src="./js/banner.js"></script>
  <script type="text/javascript" src="./js/common.js"></script>
  {% endblock %}

</body>
</html>
